<div>
  <div class="{{!sidebar.toggled ? 'filter filter-is-visible': 'filter'}}">
    <form>
      <div class="filter-block">
        <h4>Search</h4>
        <div class="filter-content">
          <input type="search" ng-model="sidebar.searchTerm" placeholder="title, price..." ng-change="sidebar.search({searchTerm: sidebar.searchTerm})"/>
        </div>
      </div>
    </form>
    <a href="#0" class="close" ng-click="sidebar.toggleSideBar()">Close</a>
  </div>

  <a href="#0" class="filter-trigger" ng-click="sidebar.toggleSideBar()">Filters</a>
</div>

